services:
  mono:
    container_name: ellty-mono
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - target: 3333
        published: 3333

      - target: 4444
        published: 4444
    environment:
      NODE_ENV: development
      DATABASE_URL: ${DATABASE_URL_DOCKER}
    command: sh -c "pnpm install && pnpm dev"
    depends_on:
      - timescaledb

  timescaledb:
      container_name: ellty-timescaledb
      restart: unless-stopped
      image: timescale/timescaledb:latest-pg15
      ports:
          - target: 5432
            published: 5432
      env_file:
          - .env
      volumes:
          - timescaledb-data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 10s
        timeout: 5s
        retries: 3

volumes:
    timescaledb-data:
